{
    "timeout": 5,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "tests/reports/infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": false,
        "FalseValue": {
            "ignore": [
                "rask\\Libload\\Header::__construct::41"
            ]
        }
    }
}
